body {
    font-family: Fantasy, Arial, Helvetica, sans-serif;
    text-align: center;
    background: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX7097820.jpg); /* image from colourbox.com */
    margin-top: 50px;
}

h1 {
    color: #ffffff;
    font-size: 32px;
    margin: 0;
}

/*
* Styles for the Score Board
*/
.score-board {
    float: left;
    text-align: left;
    margin: 50px 0 0 10px;
}

#score, .controls {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    padding: 0px 0px 0px 20px;
}

#lives {
    width: 230px;
}

.life {
    height: 25%;
    width: 25%;
}

/*
* Styles for Modal
*/
.hide-modal {
    display: none;
    position: fixed;
    overflow: auto;
    position: absolute;
    padding: 20px;
    border-radius: 8px;
    margin: 20% auto;
    width: 300px;
}

.game-over-modal {
    width: 100%;
    height: 100%;
    font-size: 35px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
}

.modal-content {
    padding-top: 40px;
    text-align: center;
    background: url('../images/modal-background.png');
    box-shadow: 0 5px 8px rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    border-radius: 8px;
    margin: 20% auto;
    width: 350px;
    height: 307px;
    color: #ffffff;
}

.play-again {
    padding-top: 10px;
    border-radius: 10px;
    font-family: Fantasy, Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: lightblue;
    margin: 30px;
    color: #ffffff;
}
.hide {
    display: hidden;
}